input#editinput{
    width: 80px;
    border-radius: 8px;
    margin: 10px;
    font-weight: bold;
    height: 40px;
    padding-left: 1%;
    
    text-align: center;
}
div.mydiv{
    display: flex ;
    flex-direction: row ;
    justify-content: space-around;
}
div.mydiv p{
    font-weight: bold;
}
.editdiv{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
}
#addcontrols{
    
    display: flex;
    font-size: larger;
}
#editbtn{
    border-radius: 8px;
    margin-left: 20px;
    height: 40px;
}

@media only screen and (max-width: 690px) {
    
    .editiv{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        
    }
    
    div.mydiv{
    display: flex;
    flex-direction: column;
}
        
        }